@font-face {
    font-family: dosfont;
    src: url(/fonts/LessPerfectDOSVGA.ttf);
}

h1 {
    font-weight: normal;
}


body {
    color: white;
    background-color: black;
    font-family: dosfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("images/ARCHES.dib"); */
    /* background-repeat: repeat; */
}

.tray {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: darkslategray;
    padding: .5rem;
    border-radius: .5rem;
}

#canvas {
    margin-top: ;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    outline: white 3px solid;
}

.clickable {
    cursor: pointer;
}