@font-face {
    font-family: dosfont;
    src: url(/fonts/LessPerfectDOSVGA.ttf);
}

h1 {
    font-weight: normal;
}

body {
    color: white;
    background-color: black;
    font-family: dosfont;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tray {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: black;
    padding: .5rem;
    border-radius: .5rem;
}

.screen {
    width: 100vh;
    height: 75vh;
    /* outline: white 3px solid; */
    overflow: hidden;
}

#canvas {
    width: 100%
}

.emularity-splash-screen {
    background-color: blue;
}


.clickable {
    cursor: pointer;
}